@page "/AgregarTramite/{Id:int?}"
@rendermode InteractiveServer
@inject NavigationManager Navegador;
@inject CasoDeUsoTramiteAlta CasoDeUsoTramiteAlta
@inject CasoDeUsoConsultaTramite CasoDeUsoConsultaTramite
@inject CasoDeUsoTramiteModificacion CasoDeUsoTramiteModificacion
@inject ServicioAutorizacion ServicioAutorizacion

@if (ServicioAutorizacion.UsuarioActual != null && (ServicioAutorizacion.PoseeElPermiso(ServicioAutorizacion.UsuarioActual.Id, Permiso.TramiteAlta) || ServicioAutorizacion.PoseeElPermiso(ServicioAutorizacion.UsuarioActual.Id, Permiso.TramiteModificacion)))
{
    <DialogoConfirmacion @ref="dialogo" Mensaje=@Error/>
    @if (!nuevoTramite)
    {
        <h3>Modificando al tramite id "@tram.IdTramite"</h3>
    }
    else
    {
        <h3>Agregando un nuevo tramite</h3>
    }
    <input placeholder="ID Expediente" @bind="tram.IdExpediente" class="form-control">
    <select @bind="tram.Etiqueta" class="form-select-sm">
        <option value="@EtiquetaTramite.EscritoPresentado">Escrito Presentado</option>
        <option value="@EtiquetaTramite.PaseAEstudio">Pase A Estudio</option>
        <option value="@EtiquetaTramite.Despacho">Despacho</option>
        <option value="@EtiquetaTramite.Resolucion">Resolucion</option>
        <option value="@EtiquetaTramite.Notificacion">Notificacion</option>
        <option value="@EtiquetaTramite.PaseAlArchivo">Pase Al Archivo</option>
    </select>
    
    <input placeholder="Contenido" @bind="tram.Contenido" class="form-control">


    <button class="btn btn-primary" @onclick="Aceptar">Aceptar</button>
}
else
{
    <h2 class="bg-warning">No tienes permiso para acceder a esta pagina</h2>
}
@code {
    Tramite tram = new Tramite();
    [Parameter] public int? Id { get; set; }
    DialogoConfirmacion dialogo = null!;

    bool nuevoTramite = true;

    protected override void OnParametersSet()
    {
        if (Id != null)
        {
            Tramite tramBuscar = CasoDeUsoConsultaTramite.Ejecutar(Id.Value);
            if (tram != null)
            {
                tram = tramBuscar;
                nuevoTramite=false;
            }
        }
    }


    private void errorValidacion()
    {
        dialogo.Mostrar();
    }

    String Error = "";

    void Aceptar()
    {
        if(nuevoTramite)
        {
            @if (ServicioAutorizacion.UsuarioActual != null && ServicioAutorizacion.PoseeElPermiso(ServicioAutorizacion.UsuarioActual.Id, Permiso.TramiteAlta))
            {
                try
                {
                    CasoDeUsoTramiteAlta.Ejecutar(tram, ServicioAutorizacion.UsuarioActual.Id);
                    Navegador.NavigateTo("listadoTramites");
                }
                catch(Exception e)
                {
                    Error = e.Message;
                    errorValidacion();
                }
                
            }
        }
        else
        {
            @if (ServicioAutorizacion.UsuarioActual != null &&  ServicioAutorizacion.PoseeElPermiso(ServicioAutorizacion.UsuarioActual.Id, Permiso.TramiteModificacion))
            {
                try
                {
                    CasoDeUsoTramiteModificacion.Ejecutar(tram, ServicioAutorizacion.UsuarioActual.Id);
                    Navegador.NavigateTo("listadoTramites");
                }
                catch(Exception e)
                {
                    Error = e.Message;
                    errorValidacion();
                }
            }
        }
       
    }

    
}
