@page "/AgregarExpediente/{Id:int?}"
@rendermode InteractiveServer
@inject NavigationManager Navegador;
@inject CasoDeUsoExpedienteAlta CasoDeUsoExpedienteAlta
@inject CasoDeUsoConsultaExpediente CasoDeUsoConsultaExpediente
@inject CasoDeUsoExpedienteModificacion CasoDeUsoExpedienteModificacion
@inject ServicioAutorizacion ServicioAutorizacion

@if (ServicioAutorizacion.UsuarioActual != null && (ServicioAutorizacion.PoseeElPermiso(ServicioAutorizacion.UsuarioActual.Id, Permiso.ExpedienteAlta) || ServicioAutorizacion.PoseeElPermiso(ServicioAutorizacion.UsuarioActual.Id, Permiso.ExpedienteModificacion)))
{
    <DialogoConfirmacion @ref="dialogo" Mensaje=@Error/>

    @if (!nuevoExpediente)
    {
        <h3>Modificando al expediente id "@exp.Id"</h3>
    }
    else
    {
        <h3>Agregando un nuevo expediente</h3>
    }

    <input placeholder="Caratula" @bind="exp.Caratula" class="form-control">
    <select @bind="exp.Estado" class="form-select-sm">
        <option value="@EstadoExpediente.RecienIniciado">Recien Iniciado</option>
        <option value="@EstadoExpediente.ParaResolver">Para Resolver</option>
        <option value="@EstadoExpediente.ConResolucion">Con Resolucion</option>
        <option value="@EstadoExpediente.EnNotificacion">En Notificacion</option>
        <option value="@EstadoExpediente.Finalizado">Finalizado</option>
    </select>

    <button class="btn btn-primary" @onclick="Aceptar">Aceptar</button>
}
else
{
    <h2 class="bg-warning">No tienes permiso para acceder a esta pagina</h2>
}
@code {
    Expediente exp = new Expediente();
    [Parameter] public int? Id { get; set; }
    bool nuevoExpediente = true;
    String Error = "";

    protected override void OnParametersSet()
    {
        if (Id != null)
        {
            Expediente expBuscar = CasoDeUsoConsultaExpediente.Ejecutar(Id.Value);
            if (exp != null)
            {
                exp = expBuscar;
                nuevoExpediente=false;
            }
        }
    }
    void Aceptar()
    {
        if(nuevoExpediente)
        {
            @if (ServicioAutorizacion.UsuarioActual != null &&  ServicioAutorizacion.PoseeElPermiso(ServicioAutorizacion.UsuarioActual.Id, Permiso.ExpedienteAlta))
            {
                try
                {
                    CasoDeUsoExpedienteAlta.Ejecutar(exp, ServicioAutorizacion.UsuarioActual.Id);
                    Navegador.NavigateTo("listadoExpedientes");
                }
                catch(Exception e)
                {
                    Error = e.Message;
                    errorValidacion();
                }
                
            }
        } 
        else
        {
            @if (ServicioAutorizacion.UsuarioActual != null && ServicioAutorizacion.PoseeElPermiso(ServicioAutorizacion.UsuarioActual.Id, Permiso.ExpedienteModificacion))
            {
                try
                {
                    CasoDeUsoExpedienteModificacion.Ejecutar(exp, ServicioAutorizacion.UsuarioActual.Id);
                    Navegador.NavigateTo("listadoExpedientes");
                }
                catch(Exception e)
                {
                    Error = e.Message;     
                    errorValidacion();
                }
            }
        }
 
    }

    DialogoConfirmacion dialogo = null!;
    private void errorValidacion()
    {
        dialogo.Mostrar(); 
    }

}
