@page "/listadoExpedientes"
@rendermode InteractiveServer
@inject NavigationManager Navegador
@inject CasoDeUsoListarExpedientes CasoDeUsoListarExpedientes
@inject CasoDeUsoExpedienteBaja CasoDeUsoExpedienteBaja
@inject ServicioAutorizacion ServicioAutorizacion


<DialogoConfirmacion @ref="dialogo" OnConfirmado="Eliminar" />
@if (ServicioAutorizacion.PoseeElPermiso(ServicioAutorizacion.UsuarioActual.Id, Permiso.Lectura))
{
    <table class="table">
        <thead>
            <tr>
                <th>Codigo</th>
                <th>Caratula</th>
                <th>Fecha Creacion</th>
                <th>Fecha Actualizacion</th>
                <th>Ultimo Usuario que modifico</th>
                <th>Estado</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var exp in _lista)
            {
                <tr>
                    <td>@exp.Id</td>
                    <td>@exp.Caratula</td>
                    <td>@exp.FechaCreacion</td>
                    <td>@exp.FechaActualizacion</td>
                    <td>@exp.IdUpdateUser</td>
                    <td>@exp.Estado</td>
                    <td>
                        @if (ServicioAutorizacion.PoseeElPermiso(ServicioAutorizacion.UsuarioActual.Id, Permiso.ExpedienteModificacion))
                        {
                            <button class="btn btn-primary" @onclick="()=>EditarExpediente(exp)">Editar</button>
                        }

                        @if (ServicioAutorizacion.PoseeElPermiso(ServicioAutorizacion.UsuarioActual.Id, Permiso.ExpedienteBaja))
                        {
                            <button class="btn btn-danger" @onclick="()=>ConfirmarEliminacion(exp)">Eliminar</button>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <h2 class="bg-warning">No tienes permiso para acceder a esta pagina</h2>
}
@code {
    List<Expediente> _lista = new List<Expediente>();
    protected override void OnInitialized()
    {
        _lista = CasoDeUsoListarExpedientes.Ejecutar();
    }

    DialogoConfirmacion dialogo = null!;
    Expediente? _ExpedienteEliminar = null;

    private void ConfirmarEliminacion(Expediente exp)
    {
        _ExpedienteEliminar = exp;
        dialogo.Mensaje = $"Desea eliminar el expediente {_ExpedienteEliminar.Caratula}?";
        dialogo.Mostrar();
    }

    private void EditarExpediente(Expediente exp)
    {
        Navegador.NavigateTo($"AgregarExpediente/{exp.Id}");
    }

    private void Eliminar()
    {
        CasoDeUsoExpedienteBaja.Ejecutar(_ExpedienteEliminar.Id, 1); //rev
        _lista = CasoDeUsoListarExpedientes.Ejecutar();
    }

}