@page "/listadoExpedientes"
@rendermode InteractiveServer
@inject CasoDeUsoListarExpedientes CasoDeUsoListarExpedientes
@inject CasoDeUsoExpedienteBaja CasoDeUsoExpedienteBaja

<table class="table">
    <thead>
        <tr>
            <th>Codigo</th>
            <th>Caratula</th>
            <th>Fecha Creacion</th>
            <th>Fecha Actualizacion</th>
            <th>Ultimo Usuario que modifico</th>
            <th>Estado</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var exp in _lista)
        {
            <tr>
                <td>@exp.Id</td>
                <td>@exp.Caratula</td>
                <td>@exp.FechaCreacion</td>
                <td>@exp.FechaActualizacion</td>
                <td>@exp.IdUpdateUser</td>
                <td>@exp.Estado</td>
                <td>
                    <button class="btn btn-primary">Editar</button>
                    <button class="btn btn-danger" @onclick="()=>Eliminar(exp)">>Eliminar</button>
                </td>
            </tr>
        }
    </tbody>
</table>

@code {
    List<Expediente> _lista = new List<Expediente>();
    protected override void OnInitialized()
    {
        _lista = CasoDeUsoListarExpedientes.Ejecutar();
    }

    private void Eliminar(Expediente exp)
    {
        CasoDeUsoExpedienteBaja.Ejecutar(exp.Id, 1); //rev
        _lista = CasoDeUsoListarExpedientes.Ejecutar();
    }

}